.menu{
    text-decoration: none;
    color: #0060ae;
    font-size: 18px;
}

.menu i{
    margin-right: 5px;
}

.fa-cart-shopping{
    color: #0060ae;
    font-size: 25px;
}

.sub-user{
    min-width: 250px;
    /* height: 250px; */
    background-color: #fff;
    position: absolute;
    padding: 10px 0;
    top: 173%;
    right: -8%;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 12%), 0 16px 16px 0 rgb(0 0 0 / 24%);
}

.sub-user li{
    /* color: #0060ae!important; */
    /* margin-bottom: 10px; */
    color: #151515;
    /* font-family: Nunito,serif; */
    font-size: 18px;
    font-weight: 700;
    padding: 10px 25px;
    text-align: left;
    height: 45px;
}

.sub-user li:hover{
    background-color: #f5f5f5;
}

.sub-user li.logout{
    color: #e52e45;
    margin-top: 10px;
}

.hello-text{
    font-size: 22px;
    font-weight: 700;
    padding: 0 25px 0 25px;
    text-align: left;
    color: #151515;
    margin-bottom: 5px;
}